/*Fonts*/ 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/*GLOBAL*/ 

body,html{
	margin: 0;
}


#_3vot_blank {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
  	background-repeat: no-repeat;
  	background-color: #fff;
  	background-size: 263px 224px;
  	background-position:  center 54px;
  	margin: 0px;
}



/* Compact Layout */ 
.compact .menu-component{
	display: none;
}

.compact .view{
	padding-top: 20px;
}

/* General */ 

.slide-container{
	width: 100%;
	position: relative;
}

.view{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	-webkit-transition: left 0.4s , opacity 0.5s; /* For Safari 3.1 to 6.0 */
  transition: left 0.4s , opacity 0.5s;
	
	/*padding: 108px 0px;*/
	/*padding-bottom: 0px;*/
}

/*Components*/ 


/* Menu */ 

.menu-component{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 110px;
}

  .top-header{
	  background-color:  rgb(235, 235, 235);
	  padding: 1vh;
	  font-size: 1em;
  }


	.header{
		background-color: #fff;	
		height: 4em;
		position: relative;
	}

		.header-panel{
			width: 200px;
			float: right;
			background-color: rgb(0, 157, 220);
			height: 100%;
			text-align: center;
			font-size: 2em;
			color: #fff;
			line-height: 1.8em;
		}

		.header-message {
			position: absolute;
			left: 35%;
			line-height: 80px;
			font-size: 14px;
			top: 0px;
		}

		.header-title{
			/*line-height: 80px;*/
			margin-left: 1em;
			display: inline-block;
		}
			.header-title img {
				max-height: 4em;
				padding: .5em 0;
			}



.text-list{
	display: block;
}
	._3vot ul {
		padding: 1em 0;
	}

	.text-list li{
		font-size: 3em;
		margin: .2em 0
	}

		.text-list__large li:first-child {
			margin-top: 2em;
		}

		.text-list__large li{
			font-size: 3em;
			margin-bottom: 30px;
		}

.text-white {
	color: #fff;
}
.text-clay {
	color: #FA816B;
}

/*.row-block-head{
	min-height: 500px;
	padding: 5em 0 5em;
}*/

.row-block-head .row-block-title {
	padding: 1em 0 .5em;
}

.row-block-text i {
	font-weight: 600;
	margin: 1.5em 0 0;
	display: block;
}

.row-block{
	overflow: hidden;
	padding: 10em 3em 10em;
	/*min-height: 500px;*/
}

	.row-block__blue{
		background-color: #0097DC;
		color: #fff;
	}

	.row-block__purple{
		background-color: #7F8DE1;
		color: #fff;
	}

	.row-block-title{
		padding-top: 0.5em;
		font-size: 6em;
		text-align: center;
		padding-bottom: .5em;
		font-weight:600;
		
	}
	.text-shadow{
		text-shadow: 0 2px 6px rgba(0,0,0,.5);
	}

	blockquote.row-block-text{
		text-align: center;
		border: none;	
	}
	._3vot blockquote {
		font-size: 3em;
		padding: 0 4em;
	}

	.row-block-text{
		font-size: 3.5em;
		text-align: center;
		padding-bottom: 0;
	}
	
	.row-block-text__large{
		font-size: 4em;
	}

	.row-block-text__small{
		font-size: 3em;
	}

	.padding-end-200{
		display: block;
		height: 16em;
	}

	.padding-end-100{
		display: block;
		height: 8em;
	}

	.padding-end-50{
		display: block;
		height: 4em;
	}	

/*Buttons*/

._3vot .btn {
	text-transform: uppercase;
}

._3vot .btn-default{
	background-color: #fff;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.2);
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	color: #0097DC;
}
._3vot .btn-lg {
	padding: 2em ;
}

._3vot .btn-warning {
	background-color: #FCB95B;
}
._3vot .btn-success {
	background-color: #4BC076;
}


/* Modifiers */ 

.home{
	background-image: url("{3vot}/images/background1.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: top center ;
}

.dreamforce{
	background-image: url("{3vot}/images/background2.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: top center  ;
}

